<%-include('../main/head.ejs') %>
    <link href="/static/css/fridge/myFridge.css" rel="stylesheet" type="text/css">
    <script src="/static/script/fridge/myFridge.js" type="text/javascript"></script>
    <script src="/static/script/fridge/myFridgeAdd.js" type="text/javascript"></script>
    <script src="/static/script/fridge/myFridgeUpdate.js" type="text/javascript"></script>
    <script src="/static/script/fridge/myFridgeRecipe.js" type="text/javascript"></script>

<%-include('../main/header.ejs') %>
    <!-- 처음 냉장고 페이지 렌더시,  -->
    <!-- 알림 팝업 쿠키 없으면 show  -->
    <script>
    if("<%=empty_alert%>"!=="true"){ 
        if("<%=fresh_list.length%>"<1 && "<%=frozen_list.length%>"<1){
            emptyAlert("냉장실과 냉동실");
        }else if("<%=fresh_list.length%>"<1){
            emptyAlert("냉장실");
        }else if("<%=frozen_list.length%>"<1){
            emptyAlert("냉동실");
        }
    }
    </script>
<main>
    <div class="container-xl myFridgePage_main">
        <div class="cotainer-fluid myFridgePage_box">
            <div class="myFridge_title pt-3 pb-3">
                나의 냉장고
            </div>
            <div class="row top_row">
                <!-- 냉장고 내부 식재료 리스트 -->
                <div class="fridge_box col-8">                   
                    <form class="fridge_ingd_box mt-1" id="fresh_form" name="fresh">
                        <h3>냉장실</h3>
                            <%for(let i=0; i<fresh_list.length; i++){%>
                                <div>
                                    <span class="d_none fresh_id"><%=fresh_list[i].fresh_id%></span>
                                    <input type="checkbox" name="ingd" value="<%=fresh_list[i].fresh_name%>" id="<%=fresh_list[i].fresh_name%>" onclick="addToList(this);">
                                    <label for="<%=fresh_list[i].fresh_name%>"><%=fresh_list[i].fresh_name%></label><br>
                                    <input type="range" value="<%=fresh_list[i].fresh_range%>" step="50" disabled><br>
                                    <p><%=fresh_list[i].fresh_expire%></p>
                                    <button type="button" class="d_none updateIngd_btn" value="<%=fresh_list[i].fresh_name%>" onclick="clickUpdate(this);">수정</button>
                                    <button type="button" class="d_none deleteIngd_btn" value="<%=fresh_list[i].fresh_name%>" onclick="clickDelete(this);">삭제</button>
                                </div>
                            <%}%>                                                   
                    </form>
                    <form class="fridge_ingd_box" id="frozen_form" name="frozen">
                        <h3>냉동실</h3>
                            <%for(let j=0; j<frozen_list.length; j++){%>
                                <div>
                                    <span class="d_none frozen_id"><%=frozen_list[j].frozen_id%></span>
                                    <input type="checkbox" name="ingd" value="<%=frozen_list[j].frozen_name%>" id="<%=frozen_list[j].frozen_name%>" onclick="addToList(this);">
                                    <label for="<%=frozen_list[j].frozen_name%>"><%=frozen_list[j].frozen_name%></label><br>
                                    <input type="range" value="<%=frozen_list[j].frozen_range%>" step="50" disabled><br>
                                    <p><%=frozen_list[j].frozen_date%></p>
                                    <button type="button" class="d_none updateIngd_btn" value="<%=frozen_list[j].frozen_name%>" onclick="clickUpdate(this);">수정</button>
                                    <button type="button" class="d_none deleteIngd_btn" value="<%=frozen_list[j].frozen_name%>" onclick="clickDelete(this);">삭제</button>
                                </div>
                            <%}%>                                                   
                    </form>
                </div>

                <!-- 선택한 장바구니 식재료 리스트 -->
                <div class="basket_box col-4">
                    <div class="basket_img_box">
                        <div>
                            <img src="/static/img/basket.png" class="w-50" alt="This is a cart image">
                            <div class="basket_text">먼저, 식재료를 클릭해서 담아주세요</div>
                            <i class="bi bi-chevron-double-down" id="basket_arrow"></i>
                            <i class="bi bi-exclamation-triangle-fill hidden" id="basket_warn"></i>
                            <div class="warn_text d_none">식재료 이름을 잘못 입력한 경우,<br>삭제 후 다시 보관해주세요</div>
                        </div>
                    </div>
                    <div id="basket_ingd_box">
                    </div>
                </div>
            </div>
        <!-- 하단 btn -->
            <div class="row bottom_row">
                <div class="fridge_btn_box col-8">
                    <div class="fresh_box col-4">
                        <button type="button" class="addIngd_btn"></button>
                        <button type="button" class="addIngd_btn" id="fresh" onclick="checkFresh();">냉장실에<br>보관하기</button>
                    </div>
                    <div class="frozen_box col-4">
                        <button type="button" class="addIngd_btn"></button>
                        <button type="button" class="addIngd_btn" id="frozen" onclick="checkFrozen();">냉동실에<br>보관하기</button>
                    </div>
                    <div class="change_box1 col-4">
                        <button type="button" class="showUpdate_btn" id="change_bg"></button>
                        <button type="button" class="showUpdate_btn" id="showUpdateBtns" onclick="showUpdateBtns();">변경/삭제</button>
                    </div>
                    <div class="change_box2">
                        <button type="button" class="updateIngd_btn upCancel d_none"></button>
                        <button type="button" class="updateIngd_btn upCancel d_none" id="cancelUpdate" onclick="cancelUpdate();">변경 취소</button>
                    </div>
                    <div class="change_box3">
                        <button type="button" class="updateIngd_btn upFinish d_none"></button>
                        <button type="button" class="updateIngd_btn upFinish d_none" id="updateFinish" onclick="finishUpdate();">변경 완료</button>
                    </div>
                </div>
                <div class="recipe_btn_box col-4">
                    <button type="button" class="resultRecipe_btn" id="result_recipe" onclick="resultRecipe();">레시피 확인하기</button>
                    <i class="bi bi-emoji-smile hidden" id="smile_emoji"></i>
                </div> 
            </div>                          
        </div>
    </div>
</main>

<%-include('../main/footer.ejs') %>
