<%-include('../main/head.ejs') %>
<link
  rel="stylesheet"
  type="text/css"
  href="/static/css/user/myPageSideBar.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/static/css/user/deleteAccount.css"
/>
<script
  type="text/javascript"
  src="/static/script/user/deleteAccount.js"
></script>
<%-include('../main/header.ejs') %>
<main id="back_color">
  <div class="container-fluid">
    <div id="del_box">
      <p><span style="font-weight: bold"><%=user_name%></span>님의</p>
      <p>냉장고에 <%=fridge_ingredients_count%>개의 재료가</p>
      <p>잠들어 있습니다!</p>
      <p>
        마이페이지의 모든 기록은 삭제 되며, 삭제된 데이터는 복구 되지 않습니다.
      </p>
      <p id="text_none">마이페이지의 모든 기록은 삭제 되며,</p>
      <p id="text_none">삭제된 데이터는 복구 되지 않습니다.</p>
      <p class="mt-5">그래도 탈퇴하시겠습니까?</p>
      <div class="row">
        <div class="col text-center">
          <button
            type="button"
            id="button"
            class="btn mt-3 text-center"
            onclick="info_del()"
          >
            냉장고 코드 뽑기
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
<%-include('../main/footer.ejs') %>
