<%-include('../main/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/static/css/user/myPageBasic.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/myInfo.css">
<script type="text/javascript" src="/static/script/user/myPagebasic.js"></script>
<script type="text/javascript" src="/static/script/user/myInfo.js"></script>
<%-include('../main/header.ejs') %>
<main>
    <%-include('myPageBasic.ejs')%>
    <div id="inform_box" class="container">
        <p><span>김새싹님</span>의 회원정보</p>
        <form id="form_hidden" action="/myPage/profile/myInfoDel" method="post">
            <input type="hidden" name="user_id" value="<%=user_id%>">
        </form>
        <form id="form_info">
            <p>이메일: </p>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_id" value="<%=user_id%>" readonly>
            </div>
            <p>현재 비밀번호: </p>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_pw_now" value="<%=user_pw%>" readonly>
            </div>
            <p>새 비밀번호: </p>
            <div class="input-group input-group-lg">
                <input id="user_pw" type="password" class="form-control rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_pw_new" oninput="pw_click(this);" required>
                <div class="invalid-feedback">비밀번호를 정확히 입력하세요.</div>
            </div>
            <p>비밀번호 확인: </p>
            <div class="input-group input-group-lg">
                <input id="user_pw_ck" type="password" class="form-control rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_pw_check" oninput="pw_ck_click(this);" required>
                <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
            </div>
            <p>이름: </p>
            <div class="input-group input-group-lg">
                <input id="user_name" type="text" class="form-control rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_name" value="<%=user_name%>" oninput="name_click(this);" required>
                <div class="invalid-feedback">이름을 정확히 입력하세요.</div>
            </div>
            <p>핸드폰 번호: </p>
            <div class="input-group input-group-lg">
                <input id="phone_num" type="text" class="form-control rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" oninput="phone_num_hyphen(this)" name="user_phone" value="<%=user_phone%>">
                <div class="invalid-feedback">핸드폰 번호를 정확히 입력하세요.</div>
            </div>
            <button type="button" id="button_del" class="btn" onclick="info_del()">회원탈퇴</button>
            <button type="button" id="button2" class="btn me-2" onclick="info_update()">수정완료</button>
            <p style=clear:both;></p>
        </form>
    </div>
    <div class="mt-5"></div>
</main>
<%-include('../main/footer.ejs') %>