<%-include('../main/head.ejs') %>
<link
  rel="stylesheet"
  type="text/css"
  href="/static/css/user/myPageBasic.css"
/>
<link rel="stylesheet" type="text/css" href="/static/css/user/myInfo.css" />
<script
  type="text/javascript"
  src="/static/script/user/myPagebasic.js"
></script>
<script type="text/javascript" src="/static/script/user/myInfo.js"></script>
<%-include('../main/header.ejs') %>
<main>
  <%-include('myPageBasic.ejs')%>
  <div id="inform_box" class="container">
    <p><span><%=user_name%>님</span>의 회원정보</p>
    <form id="form_hidden" action="/mypage/profile/withdrawal" method="post">
      <input type="hidden" name="user_id" value="<%=user_id%>" />
    </form>
    <form id="form_info">
      <p>이메일:</p>
      <div class="input-group input-group-lg">
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          name="user_id"
          value="<%=user_id%>"
          readonly
        />
      </div>
      <div id="pw_box">
        <p>새 비밀번호:</p>
        <div class="input-group input-group-lg">
          <input
            id="user_pw"
            type="password"
            class="form-control rounded"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            name="user_new_pw"
            oninput="pw_click(this);"
            required
          />
          <div class="invalid-feedback">비밀번호를 정확히 입력하세요.</div>
        </div>
        <p>비밀번호 확인:</p>
        <div class="input-group input-group-lg">
          <input
            id="check_user_pw"
            type="password"
            class="form-control rounded"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            name="check_user_pw"
            oninput="check_pw_click(this);"
            required
          />
          <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
        </div>
      </div>
      <p>이름:</p>
      <div class="input-group input-group-lg">
        <input
          id="check_user_name"
          type="text"
          class="form-control rounded"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          name="user_name"
          value="<%=user_name%>"
          oninput="name_click(this);"
          required
        />
        <div class="invalid-feedback">이름을 정확히 입력하세요.</div>
      </div>
      <p>휴대폰 번호:</p>
      <div class="input-group input-group-lg">
        <input
          id="phone_num"
          type="text"
          class="form-control rounded"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          oninput="phone_num_hyphen(this)"
          name="user_phone"
          value="<%=user_phone%>"
        />
        <div class="invalid-feedback">휴대폰 번호를 정확히 입력하세요.</div>
      </div>
      <button type="button" id="button_del" class="btn" onclick="info_del()">
        회원탈퇴
      </button>
      <button
        type="button"
        id="button2"
        class="btn me-2"
        onclick="info_update()"
      >
        수정완료
      </button>
      <p style="clear: both"></p>
    </form>
  </div>
</main>
<script>
  if ("<%=user_pw%>" === "kakao") $("#pw_box").addClass("d_none");
</script>
<%-include('../main/footer.ejs') %>
