<%-include('../main/head.ejs') %>
<link
  rel="stylesheet"
  type="text/css"
  href="/static/css/user/myPageSideBar.css"
/>
<link rel="stylesheet" type="text/css" href="/static/css/user/myPage.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="path/to/chartjs/dist/Chart.min.css"
/>
<script type="text/javascript" src="/static/script/user/myPage.js"></script>
<%-include('../main/header.ejs') %>
<main>
  <%-include('myPageSideBar.ejs')%>
  <form id="form">
    <input
      type="hidden"
      name="fresh_ingredients_category"
      value="<%=fresh_ingredients_category%>"
    />
    <input
      type="hidden"
      name="cooked_dishes_category"
      value="<%=cooked_dishes_category%>"
    />
  </form>

  <div class="container">
    <div style="margin-bottom: 100px">
      <p class="container_title"><span><%=user_name%>님</span>의 통계차트</p>
      <div class="chart_container">
        <div class="fresh_ingredients_category_chart">
          <p class="chart_title">냉장실 재료 카테고리별 차트</p>
          <canvas
            id="fresh_ingredients_category"
            width="550px;"
            height="600px;"
          ></canvas>
          <button class="btn go_to_button" onclick="location.href='/myFridge'">
            나의 냉장고 바로가기
          </button>
        </div>
        <div class="cooked_dishes_category_chart">
          <p id="chart_title">최근에 한 요리 카테고리별 차트(10개)</p>
          <canvas
            id="cooked_dishes_category"
            width="650px;"
            height="599.99px;"
          ></canvas>
          <button class="btn go_to_button" onclick="location.href='/recipe'">
            레시피 추천 바로가기
          </button>
        </div>
      </div>
    </div>
    <hr />

    <div style="padding-bottom: 50px">
      <p class="container_title"><span><%=user_name%>님</span>의 레시피</p>
      <p class="side_title_recipe_dn">최근 본 레시피</p>
      <div class="recipe_container">
        <div class="side_title_recipe_background_img">
          <div class="side_title_recipe">
            <span>최근 본</span>
            <span>레시피</span>
          </div>
        </div>
        <div class="container recipe_card_container">
          <div class="row">
            <% recently_viewed_recipes.forEach((recipe) => { %>
            <div class="card col-5 recipe_card" style="padding: 0px">
              <img
                src="<%=recipe['recipe.recipe_img']%>"
                class="card-img"
                style="width: 100%; height: 300px"
              />
              <a
                href="<%=recipe['recipe.recipe_url']%>"
                target="_blank"
                class="card-link card-img-overlay recipe_card_title"
              >
                <%=recipe['recipe.recipe_title']%>
              </a>
            </div>
            <% }) %> <% for (let i = recently_viewed_recipes.length ; i < 4 ;
            i++ ) { %>
            <div class="card col-5 blank_card"><%=i+1%></div>
            <% } %>
          </div>
        </div>
      </div>
      <p class="side_title_dish_dn">최근한 요리</p>
      <div class="dish_container">
        <div class="side_title_dish_background_img">
          <div class="side_title_dish">
            <span>최근에</span>
            <span>한 요리</span>
          </div>
        </div>
        <div class="container dish_card_container">
          <div class="row">
            <% cooked_dishes.forEach((dish) => { %>
            <div class="card col-5 dish_card" style="padding: 0px">
              <img
                src="<%=dish['recipe.recipe_img']%>"
                class="card-img"
                style="width: 100%; height: 100%"
              />
              <a
                href="<%=dish['recipe.recipe_url']%>"
                class="card-link card-img-overlay dish_card_title"
                target="_blank"
              >
                <%=dish['recipe.recipe_title']%>
              </a>
            </div>
            <% }) %> <% for (let j = cooked_dishes.length ; j < 4 ; j++) { %>
            <div class="card col-5 blank_card"><%=j+1%></div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%-include('../main/footer.ejs') %>
