<%-include('../main/head.ejs')%>
<link rel="stylesheet" type="text/css" href="/static/css/user/myPageBasic.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/pwConfirm.css">
<script type="text/javascript" src="/static/script/user/pwConfirm.js"></script>
<%-include('../main/header.ejs')%>
<main>
    <div id="mypage_nav" class="container-fluid">
        <div id="mypage_nav_textbox">
            <span type="button" onclick="location.href='/myPage'">나의 프로필 </span><span> | </span>
            <span type="button" onclick="location.href='/myPage/wishList'">  찜리스트 </span><span> | </span>
            <span type="button" onclick="location.href='/myPage/myInfo'"> 회원정보수정</span>
        </div>
    </div>
    <div class="container">
        <p id="pw_input_box_title"><span style="font-weight:bold;">비밀번호</span>를 입력해주세요!</p>
        <form id="form_hidden" action="/myPage/profile/myInfo" method="post">
            <input type="hidden" name="user_id" value="<%=user_id%>">
        </form>
        <form id="form_pw_confirm">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg">이메일</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_id" value="<%=user_id%>" readonly>
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg">비밀번호</span>
                    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_pw" placeholder="비밀번호를 입력해 주세요.">
                </div>
            <button type="button" id="button" class="btn" onclick="pw_confirm()">확인</button>
        </form>
    </div>
</main>
<%-include('../main/footer.ejs')%>