<%-include('../main/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/static/css/user/myPageSideBar.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/wishList.css">
<script type="text/javascript" src="/static/script/user/wishList.js"></script>
<%-include('../main/header.ejs') %>
<main>
    <%-include('myPageSideBar.ejs')%>
    <div id="wishlist_box" class="container">
        <p class="container_title"><span><%=user_name%>님</span>의 찜리스트</p>
        <div id="wishlist_card_box">
            <div id="wishlist_card_box_child">
                <% if (wishlist.length == 0 ) { %>
                    <div id="none_box">
                        <img src="/static/img/wishlist_none.png">
                    </div>
                <% } else { %>
                    <% for (var i=0 ; i<wishlist.length ; i++ ) { %>
                        <div id="card_size" class="card mb-4 me-3">
                            <img src="<%=wishlist[i]['recipe.recipe_img']%>" class="card-img" alt="recipe_img">
                            <div id="card_hover" class="card-img-overlay">
                                <i id="heart_icon" class="bi bi-heart-fill" type="button" onclick="wishlist_del('<%=wishlist[i][`recipe.recipe_id`]%>',this)"></i>
                                <div id="card_text_box">
                                    <h3 id="card_text" class="card-title"><%=wishlist[i]['recipe.recipe_title']%></h3>
                                    <h5 id="card_text" class="card-text" type="button" onclick="window.open(`<%=wishlist[i]['recipe.recipe_url']%>`)" target="_blank">레시피 보기</h5>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</main>
<%-include('../main/footer.ejs') %>