<%-include('head.ejs') %>
<link href="/static/css/main/main.css" rel="stylesheet" type="text/css">
<script src="static/script/main/main.js" type="text/javascript"></script>
<%-include('header.ejs') %>

<main>
  <script>
    // console.log("'<%=isLogin%>' :", "<%=isLogin%>");

  </script>

  <a href="/recipe">레시피</a>
  <a href="/signIn">로그인</a>
  <h1 class="d_none" id="welcome_user">
  </h1>
    <!-- <h3 id="title">여기가 main 페이지 입니다.</h3>         -->
    <div class="container-xl mainPage_main">
        <div class="container-fluid mainPage_box">
            <!-- <img src="static/img/sesac.gif" style="width:100px"> -->
            <!-- Row 냉장식품 -->
            <div class="row first_row_main">
                <p>냉장식품</p>
                <div class="closest_fresh_box">
                    <div class="card frs_card border-success">
                        <div class="card-header">Header</div>
                        <div class="card-body text-success">
                          <h5 class="card-title">Success card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card frs_card border-success">
                        <div class="card-header">Header</div>
                        <div class="card-body text-success">
                          <h5 class="card-title">Success card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card frs_card border-success">
                        <div class="card-header">Header</div>
                        <div class="card-body text-success">
                          <h5 class="card-title">Success card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card frs_card border-success">
                        <div class="card-header">Header</div>
                        <div class="card-body text-success">
                          <h5 class="card-title">Success card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 냉동식품 -->
            <div class="row second_row_main">
                <p>냉동식품</p>
                <div class="closest_frozen_box">
                    <div class="card frz_card">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Light card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card frz_card">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Light card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card frz_card">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Light card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card frz_card">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Light card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 레시피 -->
            <div class="row third_row_main">
                <p>레시피</p>
                <div class="best_recipe_box">
                    <div class="card br_card">
                        <img src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/values/values-2020/img/hero-burrito-lg.png" class="card-img br_img" alt="br_card1">
                        <div class="card-img-overlay">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card br_card">
                        <img src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/values/values-2020/img/hero-burrito-lg.png" class="card-img br_img" alt="br_card2">
                        <div class="card-img-overlay">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card br_card">
                        <img src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/values/values-2020/img/hero-burrito-lg.png" class="card-img br_img" alt="br_card3">
                        <div class="card-img-overlay">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card br_card">
                        <img src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/values/values-2020/img/hero-burrito-lg.png" class="card-img br_img" alt="br_card">
                        <div class="card-img-overlay">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal" tabindex="-1" id="expModal">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header text-bg-primary">
            <h5 class="modal-title">슬픈 소식</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="text-align : center;">
            <h5><%=user_name%>님,</h5>
            <p>유통기한이 지난 식료품 <strong><%=exp_count%></strong>개가 냉장고에서 삭제되었어요</p>
          </div>
          <div class="modal-footer  justify-content-between">
            <div class="form-check form-switch form-check-reverse">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckReverse" onclick="modalCheck();">
              <label class="form-check-label" for="flexSwitchCheckReverse">오늘 그만보기</label>
            </div>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script>
      const expModal = new bootstrap.Modal('#expModal');
        if("<%=exp_modal%>"!=="true" && "<%=isLogin%>" == "true") expModal.show();

        if ("<%=isLogin%>" == "true"){
        console.log("text_check");
        $("#welcome_user").removeClass("d_none");
        $("#welcome_user").text("<%=user_name%>" + "님, 유통기한이 임박한 식재료 " + "<%=fresh_count%>" + "개가 기다리고 있어요 ! ");
      }
    </script>


</main>
<%-include('footer.ejs') %>
