<%-include('../main/head.ejs') %>
<link href="static/css/recipe/recipe.css" rel="stylesheet">
<%-include('../main/header.ejs') %>
<script>
document.addEventListener("DOMContentLoaded", () => {
  if("<%=tag%>" != null)  {
    var tag = "<%= tag %>";
  }
  let basicStr = "추천 레시피라서 일치하는 식재료를 냉장고에 넣어주세요!";
  let sideDishStr = "냉장고에 있는 재료로 맛있는 반찬 뚝딱!";
  let riceStr = "냉장고에 있는 재료로 맛있는 덮밥과 볶음밥 뚝딱!";
  let soupStr = "냉장고에 있는 재료로 따끈한 국/탕 뚝딱!"
  let healthyStr = "냉장고에 있는 재료로 몸에 좋은 건강한 음식 뚝딱!";
  let nightSnackStr = "냉장고에 있는 재료로 쉽고 맛있는 야식을 뚝딱!"; 
  let fastStr = "냉장고에있는 재료로 빠르게 한끼 뚝딱!";

  switch(tag) {
      case "반찬":
          typeIt(sideDishStr);
          break;
      case "밥":
          typeIt(riceStr);
          break;
      case "국/탕":
          typeIt(healthyStr);
          break;
      case "건강/웰빙":
          typeIt(healthyStr);
          break;
      case "야식":
          typeIt(nightSnackStr);
          break;
      case "빠른한끼":
          typeIt(fastStr);
          break;
      default:
          typeIt(basicStr);
          break;
  }
  function typeIt(str){
    new TypeIt("#tagIntro")
        .pause(500)  // 1초
        .delete(9, { delay: 1000})
        .type(str)
        .go();
  }

});
</script>
<style>
  .d-none {
    display: none;
  }
  .d-show {
    display: block;
  }
</style>
<div class="container-fluid" id="filter">
    <div class="container" id="filter_box">
      <button class="btn filter" type="button" onclick="selectFilter('반찬')">반찬류</button>
      <button class="btn filter" type="button" onclick="selectFilter('밥')">밥류</button>
      <button class="btn filter" type="button" onclick="selectFilter('국/탕')">국/탕</button>
      <button class="btn filter" type="button" onclick="selectFilter('건강/웰빙')">건강/웰빙</button>
      <button class="btn filter" type="button" onclick="selectFilter('야식')">야식류</button>
      <button class="btn filter" type="button" onclick="selectFilter('빠른한끼')">빠른 한끼</button>
      <button class="btn filter" type="button" onclick="warnAlert('<%=isLogin%>')">식재료 정확 일치 레시피</button>
      <button class="btn filter" type="button" onclick="warnAlert('<%=isLogin%>')">식재료 유사 검색 레시피</button>
    </div>
</div>
<main>
  <h1 class="intro" id="tagIntro"><%=tag%></h1>
  <div id="recipe_list" class="container mt-5 ">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-1">
      <%for(var i=0; i<data.length;i++) { %>
        <div class="card_parent col-md-3 ">
            <div class="card">
                <div class="img_time">
                    <!--이미지, 시간, 좋아요 버튼-->
                    <img src="<%=data[i].recipe_img%>" class="recipe_img img-fluid rounded"> 
                    <div class="card-img-overlay d-flex justify-content-between">
                      <span class="time">
                        <span class="time_box" style="padding-bottom: 10px;">
                          <i class="bi bi-alarm"></i>&nbsp;
                          <%=data[i].recipe_time%>
                        </span>
                      </span>
                      <button type="button" class="btn btns" title="<%=data[i].recipe_id%>">
                          <h5><i class="bi bi-balloon-heart"
                            onclick="loginAlert()"></i>
                          </h5>
                        </button>
                    </div>
                </div>
                <!--img_time-->
                <div class="name_ingd p-3">
                    <!--레시피이름, 레시피 재료-->
                    <div class="d-flex justify-content-between align-items-center">
                        <h5><%=data[i].recipe_title%></h5>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-2">
                        <div>
                          <div>
                          <i class="fas fa-regular fa-bowl-food"></i>&nbsp;
                          <%=data[i].recipe_ingd.toString().replace(/,/g, " ")%>
                          </div>
                          <% if(isLogin != true) { %>
                          <div class="pt-2 ingdArr">나의 냉장고와 일치하는 재료 :
                            로그인을 하면 이용하실 수 있어요 :)
                          </div>
                          <% } else { %>
                            <div class="pt-2 ingdArr">나의 냉장고와 일치하는 재료 :
                              냉장고에 재료를 추가하면 이용하실 수 있어요 :)
                            </div>
                          <% } %>
                        </div>
                    </div>
                </div>
                <!--name_ingd-->
            </div>
            <!--card-->
            <div class="btn_outer mt-3 mb-3">
              <div class="btn_inner text-center p-1"> 
                <input type="button" class="btn show_recipe" 
                onclick="insertLog('<%=data[i].recipe_id%>', '<%=data[i].recipe_url%>', '<%=isLogin%>')" value="레시피보기">
                <input type="button" class="btn show_cook" onclick="warnAlert('<%=isLogin%>')" value="요리하기">
              </div>
            </div>
            <!--btn_outer-->
        </div>
        <!--card_parent-->
      <% } %>
    </div>
    <!--row-->
  </div>
</main>

<script src="static/script/recipe/recipe.js"></script>
<%-include('../main/footer.ejs') %>