<%-include('../main/head.ejs') %>
<link href="static/css/recipe/recipe.css" rel="stylesheet">
<%-include('../main/header.ejs') %>
<div class="container-fluid" id="filter">
    <div class="container" id="filter_box">
      <button class="btn filter" type="button" onclick="selectFilter('반찬')">반찬</button>
      <button class="btn filter" type="button" onclick="selectFilter('밥')">밥</button>
      <button class="btn filter" type="button" onclick="selectFilter('국/탕')">국/탕</button>
      <button class="btn filter" type="button" onclick="selectFilter('건강/웰빙')">건강/웰빙</button>
      <button class="btn filter" type="button" onclick="selectFilter('야식')">야식</button>
    </div>
</div>
<main>
  <div class="container mt-5 ">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-1">
      <%for(var i=0; i<data.length;i++) { %>
        <div class="card_parent col-md-3 ">
            <div class="card">
                <div class="img_time">
                    <!--이미지, 시간, 좋아요 버튼-->
                    <img src="<%=data[i].recipe_img%>" class="recipe_img img-fluid rounded"> 
                    <div class="card-img-overlay d-flex justify-content-between">
                      <span class="time">
                        <i class="bi bi-alarm"></i>&nbsp;
                        <%=data[i].recipe_time%>
                      </span>
                      <button type="button" class="btn btns" title="<%=data[i].recipe_id%>">
                        <% if (data[i].recipe_pick == 0) { %>
                          <h5><i class="bi bi-balloon-heart" 
                            onclick="insertLike(this, '<%=data[i].recipe_id%>')"></i>
                          </h5>
                        <% } else { %>
                          <h5><i class="bi bi-balloon-heart-fill"></i>
                          </h5>
                        <% } %>
                      </button>
                    </div>
                </div>
                <!--img_time-->
                <div class="name_ingd p-3">
                    <!--레시피이름, 레시피 재료-->
                    <div class="d-flex justify-content-between align-items-center">
                        <h5><%=data[i].recipe_title%></h5>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-2">
                        <div>
                          <div>
                          <i class="fas fa-regular fa-bowl-food"></i>&nbsp;
                          <%=data[i].recipe_ingd%>
                          </div>
                          <div class="pt-2" style="color: red">나의 냉장고와 일치하는 재료 :
                          <% let recp_ingd = ingdResult[i].toString().split('\n')%>
                          <% let myingd = ingdName.toString().split(',')%>
                          <% let ingred = [] %>
                          <% for(var j=0; j<recp_ingd.length; j++) { %>
                              <% for(var k=0; k<myingd.length; k++) { %>
                                   <% if(recp_ingd[j] == myingd[k]) { %>
                                        <%= myingd[k]%>
                                        <% ingred.push(myingd[k]) %>
                                   <% } %>
                              <% } %>
                          <% } %> 
                          </div> 
                        </div>
                    </div>
                </div>
                <!--name_ingd-->
            </div>
            <!--card-->
            <div class="btn_outer mt-3 mb-3">
                <div class="btn_inner text-center p-1"> 
                  <input type="button" class="btn show_recipe" 
                  onclick="insertLog('<%=data[i].recipe_id%>', '<%=data[i].recipe_url%>')" value="레시피보기">
                  <input type="button" class="btn show_cook" onclick="cooking('<%=ingred%>')" value="요리하기">
                </div>
            </div>
            <!--btn_outer-->
        </div>
        <!--card_parent-->
      <% } %>
    </div>
    <!--row-->
  </div>
</main>

<script src="static/script/recipe/recipe.js"></script>
<%-include('../main/footer.ejs') %>